<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading" layout="row" layout-align="space-between center">
                <h3 class="text-center" flex>Analysis</h3>
                <div flex="nogrow">
                    <md-button class="btn md-raised btn-blue" ng-click="vm.findAllStreetPole()">Load</md-button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div style="width: 600px">
                            <canvas id="canvas" height="200" width="400"></canvas>
                        </div>
                        <div id="dd">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading" layout="row" layout-align="space-between center">
                <h3 class="text-center" flex>StreetPost Details</h3>
                <div flex="nogrow">
                    <md-button class="btn md-raised btn-blue" ng-click="vm.findAllResident()">Load</md-button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Street Post</th>
                                    <th>Has Odor Sensor</th>
                                    <th>Has IBeacon</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in vm.items">
                                    <td>{{item.streetPostId}}</td>
                                    <td>{{item.has_odor}}</td>
                                    <td>{{item.has_ibeacon}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading" layout="row" layout-align="space-between center">
                <h3 class="text-center" flex>TrashBin Details</h3>
                <div flex="nogrow">
                    <md-button class="btn md-raised btn-blue" ng-click="vm.findTrashBin()">Load</md-button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Trash Bin</th>
                                    <th>HasIBeacon</th>
                                    <th>Capacity</th>
                                    <th>CashIncentive</th>
                                    <th>RF Sensor</th>
                                    <th>Temperature</th>
                                    <th>Humidity</th>
                                    <th>Ambiance</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in vm.itemsTrashBin">
                                    <td>{{item.trashBinId}}</td>
                                    <td>{{item.has_ibeacon}}</td>
                                    <td>{{item.capacity}}</td>
                                    <td>{{item.cashInsentive}}</td>
                                    <td>{{item.hasRF}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>