<div>
    <div class="main-top" layout="column" layout-align="start start" layout-padding="">
        <div>
            <nav-bar></nav-bar>
        </div>
        <span flex></span>
        <div class="text">Calculator</div>
    </div>
    <div class="content">
        <h3>Dutch Lipid Clinical Network Score (DLCNS) Online Calculator</h3>
        <hr>
        <form>
            <div class="form-group">
                <label>You are a</label>
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <p class="help-block">
                    We would like to find out who is using the FH Calculator. This question is optional but if you would
                    like to share this we would appreciate it.
                </p>
            </div>
            <div class="form-group">
                <label>Patient Name/ID</label>
                <input type="text" class="form-control" placeholder="">
                <p class="help-block">Optional</p>
            </div>
            <div class="form-group">
                <label>Date of Birth</label>
                <input type="date" class="form-control">
                <p class="help-block">Optional</p>
            </div>
            <hr>

            <div class="form-group">
                <label for="">
                    1 a). Is there a first degree relative with known premature coronary and/or vascular disease? OR is
                    there a first degree relative with elevated cholesterol?
                </label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r1a" value="">
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r1a" value="">
                        No/Unknown
                    </label>
                </div>
                <p class="help-block">
                    A first-degree relative is the patient's parent, sibling, or child. Premature means men under 55 and
                    women under 60.
                </p>
            </div>
            <div class="form-group">
                <label for="">
                    1 b). Is there a first degree relative aged under 45 with tendon xanthomata and/or arcus cornealis?
                    OR Does the patient have a child aged under 18 with elevated cholesterol?
                </label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r1b" value="">
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r1b" value="">
                        No/Unknown
                    </label>
                </div>
                <p class="help-block">
                    A first-degree relative is the patient's parent, sibling, or child.
                    <a href="http://www.athero.org.au/fh/health-professionals/how-to-diagnose-fh/#clinicalassessment"
                       target="_blank">More information about tendon xanthomat and arcus cornealis.</a>
                </p>
            </div>
            <hr>
            <div class="form-group">
                <label for="">
                    2 a). Does the patient have premature coronary artery disease?
                </label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r2a" value="">
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r2a" value="">
                        No/Unknown
                    </label>
                </div>
                <p class="help-block">
                    Premature means men under 55 and women under 60.
                </p>
            </div>
            <div class="form-group">
                <label for="">
                    2 b). Does the patient have premature cerebral or peripheral vascular disease?
                </label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r2b" value="">
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r2b" value="">
                        No/Unknown
                    </label>
                </div>
                <p class="help-block">
                    Premature means men under 55 and women under 60.

                </p>
            </div>
            <hr>
            <div class="form-group">
                <label for="">
                    3. Does the patient have arcus cornealis at <45 years?
                </label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r3" value="">
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r3" value="">
                        No/Unknown
                    </label>
                </div>
                <p class="help-block">
                    <a href="http://www.athero.org.au/fh/health-professionals/how-to-diagnose-fh/#clinicalassessment"
                       target="_blank">More
                        information about arcus cornealis.</a>
                </p>
            </div>
            <hr>
            <div class="form-group">
                <label for="">
                    4. Does the patient have tendon xanthomata?
                </label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r4" value="">
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r4" value="">
                        No/Unknown
                    </label>
                </div>
                <p class="help-block">
                    <a href="http://www.athero.org.au/fh/health-professionals/how-to-diagnose-fh/#clinicalassessment"
                       target="_blank">More information about tendon xanthomata.
                    </a>
                </p>
            </div>
            <hr>
            <div class="form-group">
                <label for="">
                    5. What is the patient’s highest LDL-cholesterol concentration in mmol/L?
                </label>
                <input type="number" class="form-control" min="0" max="50">
                <p class="help-block">Please enter a value between <b>0</b> and <b>50</b>.</p>
            </div>
            <div class="form-group">
                <label for="">
                    6. Was the patient on lipid-lowering therapy at time of LDL-cholesterol test?
                </label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r6" value="">
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r6" value="">
                        No/Unknown
                    </label>
                </div>
            </div>
            <hr>
            <div layout="row">
                <button class="custom" ng-click="vm.result = 11">
                    CALCULATE
                </button>
                <span flex></span>
                <span ng-if="vm.result">Your result is <span class="result">{{vm.result}}</span></span>
            </div>
        </form>

    </div>
</div>