<div class="row">
    <div class="col-xs-12 section white">
        <div class="panel container">
            <div class="panel-body">
                <div layout="row">
                    <div>
                        <h1>Cellphones Linked to Tumors?</h1>
                        <p>Study finds "some evidence" radiation from devices may increase risk for rare tumor.</p>
                    </div>
                    <img src="assets/images/bg1.jpg"
                         style="width: 100%" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 section blue">
        <div class="panel container">
            <div class="panel-body">
                <div layout="row">
                    <div>
                        <h1>Cellphones Linked to Tumors?</h1>
                        <p>Study finds "some evidence" radiation from devices may increase risk for rare tumor.</p>
                    </div>
                    <img src="assets/images/bg1.jpg"
                         style="width: 100%" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
