/*v 0.1*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic);
* {
  font-family: 'Roboto', sans-serif; }

/*variables*/
html {
  background-color: #fff; }

body {
  background-color: #fff;
  position: relative; }

p, span {
  color: #000; }

.main-wrapper {
  width: 100%;
  padding: 70px 0 20px 0px;
  background-color: #fff; }

.panel {
  border-radius: 0;
  border: none;
  background-color: #eff9fb;
  color: #292f38; }
  .panel .panel-footer {
    background-color: transparent;
    border: none; }

/*navbar*/
.navbar {
  background-color: #eff9fb;
  border: none; }
  .navbar .navbar-brand {
    color: #119ed9;
    padding: 15px 30px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .navbar .navbar-nav .dropdown .avatar {
    width: 30px;
    height: 30px;
    background-color: #f3f4f4;
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
    position: absolute;
    left: 10px;
    top: 10px; }
  .navbar .navbar-nav .dropdown > a {
    padding-left: 50px; }
  .navbar .navbar-nav .dropdown.open > a {
    background-color: transparent !important; }
  .navbar .navbar-nav .dropdown .dropdown-menu {
    background-color: #119ed9;
    padding: 10px 0;
    min-width: 200px;
    border-radius: 6px;
    top: 60px; }
    .navbar .navbar-nav .dropdown .dropdown-menu .tooltip-arrow {
      border-bottom-color: #079fdc;
      top: -9px;
      border-width: 0 10px 10px;
      margin-left: -10px;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      left: 50%; }
    .navbar .navbar-nav .dropdown .dropdown-menu li a {
      padding: 5px 30px;
      color: white !important;
      font-size: 1.4em; }
      .navbar .navbar-nav .dropdown .dropdown-menu li a:hover {
        background-color: transparent;
        color: #eff9fb !important; }
      .navbar .navbar-nav .dropdown .dropdown-menu li a > * {
        margin-right: 10px;
        vertical-align: middle; }
  .navbar .navbar-nav > li img {
    height: 20px; }
  .navbar .navbar-nav > li.open > a, .navbar .navbar-nav > li.open a:focus {
    background-color: #9b9c9c; }
  .navbar .navbar-nav > li > a {
    color: #A3B9CB !important;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    /** Chrome & Safari **/
    -moz-transition: all 0.3s linear;
    /** Firefox **/
    -o-transition: all 0.3s linear;
    /** Opera **/ }
    .navbar .navbar-nav > li > a > span {
      transition: max-width 0.3s linear;
      -webkit-transition: max-width 0.3s linear;
      /** Chrome & Safari **/
      -moz-transition: max-width 0.3s linear;
      /** Firefox **/
      -o-transition: max-width 0.3s linear;
      /** Opera **/
      margin-left: 5px;
      overflow: hidden;
      display: inline-block; }
    .navbar .navbar-nav > li > a.tql-min > span {
      max-width: 0; }
    .navbar .navbar-nav > li > a.tql-min:hover span {
      max-width: 100%; }
    .navbar .navbar-nav > li > a * {
      vertical-align: middle; }
    .navbar .navbar-nav > li > a:hover {
      background-color: #9b9c9c !important;
      color: #A3B9CB; }
    .navbar .navbar-nav > li > a:focus {
      color: #A3B9CB; }
  .navbar .navbar-nav > li.active a {
    background-color: #fff; }
    .navbar .navbar-nav > li.active a:focus {
      color: #A3B9CB;
      background-color: #fff; }
  .navbar .navbar-nav .notification > a {
    font-size: 1.4em;
    padding: 15px;
    color: #000 !important; }
    .navbar .navbar-nav .notification > a .badge {
      position: absolute;
      border-radius: 3px;
      font-size: 0.5em;
      padding: 3px;
      left: 25px;
      top: 10px;
      font-weight: 400;
      background-color: #ef2a2b; }
    .navbar .navbar-nav .notification > a:before {
      content: '';
      opacity: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #fff;
      position: absolute;
      bottom: 4px;
      right: 50%;
      z-index: 1000; }
  .navbar .navbar-nav .notification.open > a:before {
    opacity: 1; }
  .navbar .navbar-nav .notification .dropdown-menu {
    background-color: #fff;
    border-radius: 0;
    margin-top: -5px;
    padding: 0;
    width: 400px;
    max-height: 300px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12); }
    .navbar .navbar-nav .notification .dropdown-menu > li {
      font-size: 8px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
      .navbar .navbar-nav .notification .dropdown-menu > li:last-child {
        border-bottom: none; }
      .navbar .navbar-nav .notification .dropdown-menu > li a {
        font-size: 1.4em;
        padding: 15px;
        color: #000;
        white-space: normal; }
        .navbar .navbar-nav .notification .dropdown-menu > li a:hover, .navbar .navbar-nav .notification .dropdown-menu > li a:focus {
          background-color: #9b9c9c !important; }
  .navbar .side-bar {
    background-color: #9b9c9c;
    position: absolute;
    height: calc(100vh - 50px);
    left: 0;
    top: 50px;
    max-width: 70px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    /** Chrome & Safari **/
    -moz-transition: all 0.3s ease-in-out;
    /** Firefox **/
    -o-transition: all 0.3s ease-in-out;
    /** Opera **/ }
    .navbar .side-bar:hover {
      max-width: 1000px; }
      .navbar .side-bar:hover .invisible {
        visibility: visible; }
    .navbar .side-bar > ul {
      white-space: nowrap; }
      .navbar .side-bar > ul > li.active > a {
        background-color: #fff; }
      .navbar .side-bar > ul > li a {
        display: block;
        padding: 10px 20px;
        font-size: 20px;
        color: #A3B9CB;
        text-align: left; }
        .navbar .side-bar > ul > li a:focus {
          text-decoration: none; }
        .navbar .side-bar > ul > li a:hover {
          text-decoration: none;
          background-color: #fff; }
        .navbar .side-bar > ul > li a > * {
          vertical-align: middle; }
        .navbar .side-bar > ul > li a .icon {
          display: inline-block;
          text-align: center;
          width: 30px;
          text-align: center; }
        .navbar .side-bar > ul > li a img {
          width: 30px;
          height: 30px; }
        .navbar .side-bar > ul > li a span {
          padding: 0 50px 0 15px;
          color: #A3B9CB;
          font-size: 14px;
          font-weight: 400; }

/*button*/
.btn:not(.md-button) {
  background-color: #f3f4f4;
  padding: 6px 38px;
  font-size: 14px;
  color: black; }
  .btn:not(.md-button).large {
    font-size: 18px;
    padding: 13px 56px; }
  .btn:not(.md-button).btn-blue {
    background-color: #119ed9;
    color: #f3f4f4; }
  .btn:not(.md-button).btn-red {
    background-color: #ee2c2c;
    color: #f3f4f4; }

.md-button.btn {
  background-color: #f3f4f4;
  border-radius: 4px; }
  .md-button.btn span {
    color: black; }
  .md-button.btn:not([disabled]):hover {
    background-color: #d8dcdc; }
  .md-button.btn.btn-blue {
    background-color: #119ed9; }
    .md-button.btn.btn-blue:not([disabled]):hover {
      background-color: #0d7caa; }
    .md-button.btn.btn-blue span {
      color: #f3f4f4; }
  .md-button.btn.btn-red {
    background-color: #ee2c2c; }
    .md-button.btn.btn-red:not([disabled]):hover {
      background-color: #d61111; }
    .md-button.btn.btn-red span {
      color: #f3f4f4; }
  .md-button.btn span {
    text-transform: initial;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 36px;
    border-radius: 4px; }
  .md-button.btn.large {
    border-radius: 4px; }
    .md-button.btn.large span {
      text-transform: initial;
      font-size: 18px;
      font-weight: normal;
      padding: 0 50px;
      border-radius: 6px;
      line-height: 52px; }

/*heading*/
h1 {
  color: #292f38;
  font-size: 28pt; }
h2 {
  color: #292f38;
  font-size: 20pt; }
h3 {
  color: #292f38; }
h4 {
  color: #292f38; }
h5 {
  color: #292f38; }
h6 {
  color: #292f38; }

/*label*/
label {
  color: #292f38; }

/*form*/
.form-group label {
  font-size: 12px; }
.form-group input {
  font-size: 12px;
  background-color: #fff;
  color: #000;
  padding: 20px 25px;
  border: none;
  border-radius: 0; }
  .form-group input::-webkit-input-placeholder {
    color: #9b9c9c; }
  .form-group input:-moz-placeholder {
    /* Firefox 18- */
    color: #9b9c9c; }
  .form-group input::-moz-placeholder {
    /* Firefox 19+ */
    color: #9b9c9c; }
  .form-group input:-ms-input-placeholder {
    color: #9b9c9c; }
  .form-group input.error {
    color: #ef2a2b;
    border: 1px solid #ef2a2b; }
  .form-group input.disabled, .form-group input[disabled] {
    background-color: white; }
  .form-group input.readonly, .form-group input[readonly] {
    background-color: #fff; }
.form-group textarea {
  font-size: 12px;
  background-color: #fff;
  color: #000;
  padding: 20px 25px;
  border: none;
  border-radius: 0; }
  .form-group textarea::-webkit-input-placeholder {
    color: #9b9c9c; }
  .form-group textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #9b9c9c; }
  .form-group textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #9b9c9c; }
  .form-group textarea:-ms-input-placeholder {
    color: #9b9c9c; }

/*bread-crumbs*/
.bread-crumbs {
  color: #292f38;
  font-size: 12px; }

/*alert*/
.alert {
  padding: 10px 40px 10px 15px;
  font-size: 16px;
  font-weight: 300;
  position: relative; }
  .alert span {
    color: white; }
  .alert img {
    height: 30px;
    margin-right: 10px; }
  .alert .icon-close {
    position: absolute;
    top: 9px;
    right: 0px;
    width: 30px;
    height: 30px;
    padding: 0;
    min-height: 30px; }
  .alert.alert-blue {
    background-color: #079fdc; }
    .alert.alert-blue .icon-close {
      background-color: rgba(0, 0, 0, 0.1);
      color: white; }
  .alert.alert-green {
    background-color: #dc9d07; }
    .alert.alert-green .icon-close {
      background-color: rgba(0, 0, 0, 0.1);
      color: white; }
  .alert.alert-red {
    background-color: #dc2a07; }
    .alert.alert-red .icon-close {
      background-color: rgba(0, 0, 0, 0.1);
      color: white; }

/*icons*/
.icon-hand {
  background: url(../../assets/icons/hand-icon.png); }

/*table*/
table.table > thead {
  background-color: #dcdddd; }
  table.table > thead > tr > th {
    font-size: 12px;
    color: #000;
    border-width: 0 !important;
    padding: 15px; }
table.table > tbody > tr > td {
  font-size: 12px;
  color: #000;
  border-top-width: 0;
  border-right: 1px #6795a8 solid;
  padding: 15px; }
  table.table > tbody > tr > td:last-child {
    border-right-width: 0; }
table.table > tbody > tr:nth-child(even) > td {
  background-color: #dcdddd; }
table.table > tbody > tr:nth-child(odd) > td {
  background-color: #fff; }

/*pagination*/
.pagination-group {
  margin: auto; }
  .pagination-group > li {
    padding: 0; }
    .pagination-group > li a {
      color: #000;
      font-size: 12px;
      padding: 6px 3px;
      background-color: #dcdddd;
      border: 1px solid #3D596C;
      min-width: 30px;
      min-height: 30px;
      display: inline-block;
      border-radius: 4px; }
      .pagination-group > li a:hover {
        text-decoration: none;
        color: #3D596C; }

/*radio button*/
md-radio-button ._md-on {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  background-color: #fff; }
md-radio-button.md-checked ._md-on {
  background-color: #119ed9; }
md-radio-button.md-checked ._md-off {
  border-color: #119ed9; }

/*checkbox*/
md-checkbox ._md-icon {
  background-color: transparent !important; }
  md-checkbox ._md-icon:after {
    border-color: #ee2c2c !important;
    left: 5.66667px !important;
    top: 2.22222px !important;
    width: 5.66667px !important;
    height: 10.33333px !important; }
md-checkbox.md-checked ._md-icon {
  border: 2px solid rgba(0, 0, 0, 0.54); }

/*tooltip*/
.tooltip {
  font-size: 16px; }
  .tooltip .tooltip-inner {
    padding: 15px 20px;
    background-color: #079fdc; }
  .tooltip.top .tooltip-arrow {
    border-top-color: #079fdc;
    bottom: -5px;
    border-width: 10px 10px 0;
    margin-left: -10px; }
  .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #079fdc;
    top: -5px;
    border-width: 0 10px 10px;
    margin-left: -10px; }
  .tooltip.left .tooltip-arrow {
    border-left-color: #079fdc;
    right: -5px;
    border-width: 10px 0 10px 10px;
    margin-top: -10px; }
  .tooltip.right .tooltip-arrow {
    border-right-color: #079fdc;
    left: -5px;
    border-width: 10px 10px 10px 0;
    margin-top: -10px; }

/*footer*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  background-color: #9b9c9c;
  padding: 5px 10px 2px 10px;
  font-size: 12px; }

/*# sourceMappingURL=tqlsampleui.css.map */
