<nav class="navbar navbar-default navbar-fixed-top md-whiteframe-2dp">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">
                MyKidneyCare
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-left">
                <md-menu-bar>
                    <md-menu ng-class="{'active' : isState('/home')}">
                        <button ng-click="goTo('/home')">
                            Kidney Home
                        </button>
                        <md-menu-content></md-menu-content>
                    </md-menu>

                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Kidney Education <i class="fa fa-chevron-down"></i>
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="goTo('/education/what')">
                                    What are Kidneys and their Functions?
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="goTo('/education/ckd')">
                                    What is CKD and their stages?
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="goTo('/education/cause')">
                                    Causes of Kidney Disease
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    All about GFR
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu ng-class="{'active' : isState('/account')}">
                        <button ng-click="goTo('/account')">
                            myKidneyCare
                        </button>
                        <md-menu-content></md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
            <!--<ul class="nav navbar-nav navbar-right" ng-if="$root.currentUser">-->
                <!--<li class="user notification">-->
                    <!--<a href="" data-toggle="dropdown" aria-haspopup="true"-->
                       <!--aria-expanded="false">-->
                        <!--<div class="avatar"></div>-->
                        <!--{{$root.currentUser.username}}-->
                        <!--<span class="caret"></span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="" ng-click="logout()">Logout</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--<div class="side-bar">
        <ul class="list-unstyled">
            <li class="active">
                <a href="">
                    <div class="icon"><i class="fa fa-navicon"></i></div>
                    <span>Menu</span>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="icon"><img src="assets/icons/dashboard-icon.png" alt=""></div>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="icon"><i class="fa fa-user"></i></div>
                    <span>My Account</span>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="icon"><i class="fa fa-check"></i></div>
                    <span>Task List</span>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="icon"><i class="fa fa-line-chart"></i></div>
                    <span>Graphs</span>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="icon"><img src="assets/icons/blocks-icon.png" alt=""></div>
                    <span>Apps</span>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="icon"><i class="fa fa-heart"></i></div>
                    <span>Favorites</span>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="icon"><img src="assets/icons/list-icons.png" alt=""></div>
                    <span>Articles</span>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="icon"><i class="fa fa-gear"></i></div>
                    <span>Settings</span>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="icon"><i class="fa fa-times"></i></div>
                    <span>Close</span>
                </a>
            </li>
        </ul>
    </div>
-->
</nav>