<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <!--<div class="panel-heading">-->
                <!--<h3>Home</h3>-->
                <!--</div>-->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12"><h1 style="text-align:center">How is Chronic Kidney Disease defined?</h1>

                            <p>According to the National Kidney Foundation, Chronic Kidney Disease (CKD) includes
                                conditions that damage your kidneys and decrease their ability to keep you healthy. In
                                other words, CKD describes the gradual loss of kidney function. When chronic kidney
                                disease reaches an advanced stage, dangerous levels of fluid, electrolytes, and wastes
                                can build up in your body. Over 30 million American adults have CKD and millions of
                                others are at increased risk.
                            </p>
                        </div>
                        <div class="col-xs-12"><h1 style="text-align:center">What are the causes and symptoms of
                            CKD?</h1>

                            <p>The two main causes of chronic kidney disease are diabetes and high blood pressure,
                                responsible for two-thirds of the cases. Groups with a family history of kidney failure
                                are also at high risk. Most people may not have severe symptoms until their kidney
                                disease is advanced. However, one may notice that they:
                            </p>
                            <ul>
                                <li>Feel tired and have less energy</li>
                                <li>Trouble concentrating and poor appetite</li>
                                <li>Have trouble sleeping and a muscle cramping at night</li>
                                <li>Swollen feet and ankles and a puffiness around your eyes in the mornings.</li>
                                <li>A need to urinate more often, especially at night.</li>
                            </ul>
                            <p>Initial diagnosis of kidney failure:</p>
                            <ul>
                                <li>BUN - Blood Urea Nitrogen</li>
                                <li>Blood test for creatinine</li>
                                <li>Glomerular Filtration Rate (Explained below)</li>
                            </ul>
                            <p>When kidney disease progresses, it may eventually lead to kidney failure, which requires
                                dialysis or a kidney transplant to maintain life.</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>