<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading" layout="row" layout-align="space-between center">
                <h3 class="text-center" flex>Performance</h3>
                <div flex="nogrow">
                    <md-button class="btn md-raised btn-blue" ng-click="vm.findAllCompany()">Load</md-button>
                </div>
            </div>
            <div class="panel-body">

                <div style="width: 100%">
                    <canvas id="canvas" height="200" width="400"></canvas>
                </div>
                <br>

                <div id="dd">
                </div>
            </div>
        </div>
    </div>
</div>