<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <!--<div class="panel-heading">-->
                <!--<h3>Home</h3>-->
                <!--</div>-->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12"><h1 style="text-align:center">What are kidneys and their functions?</h1>

                            <p>The kidneys are two bean shaped organs, each about the size of a fist. They are located
                                just
                                below the rib cage, one on each side of the spine. Every day, the two kidneys filter
                                about
                                120 to 150 quarts of blood to produce about 1 to 2 quarts of urine, composed of wastes
                                and
                                extra fluid. Some of the functions of the kidneys are listed below:</p>
                            <ul>
                                <li>Filtering wastes from blood</li>
                                <li>Removal of metabolic waste in toxins</li>
                                <li>Elimination of excess nutrients</li>
                                <li>Helping regulate blood volume and blood pressure and maintain PH of blood</li>
                                <li>Calcium absorption</li>
                                <li>Helping with Erythropoiesis (production of red blood cells)</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>