<div>
    <div class="main-top" layout="column" layout-align="start start" layout-padding="">
        <div>
            <nav-bar></nav-bar>
        </div>
        <span flex></span>
        <div class="text">Home</div>
    </div>
    <div class="content">
        Welcome
    </div>
</div>