<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3>GFR Calculator</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div layout="row" layout-xs="column">
                <div class="panel" flex>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="">Age :</label>
                            <md-select placeholder="Select Age" ng-model="vm.age"
                                       md-on-open="loadUsers()">
                                <md-option ng-value="{{age}}" ng-repeat="age in vm.ages">{{age}}</md-option>
                            </md-select>
                        </div>
                        <div class="form-group">
                            <label for="">Serum creatinine :</label>
                            <input type="text" class="form-control"
                                   ng-model="vm.secrum"
                                   placeholder="0.10 to 20.00">
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="">Gender :</label>
                                    <br><br>
                                    <md-radio-group ng-model="vm.gender">
                                        <md-radio-button value="male">Male</md-radio-button>
                                        <md-radio-button value="female">Female</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="">Are you African American?</label>
                                    <br><br>
                                    <md-radio-group ng-model="vm.africa">
                                        <md-radio-button value="no">No</md-radio-button>
                                        <md-radio-button value="yes">Yes</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <md-button ng-click="vm.calculateGFRData()" class="btn md-raised">Calculate</md-button>
                        </div>
                    </div>
                </div>
                <div class="panel" style="border: 1px solid white;" flex>
                    <div class="panel-body">
                        <h4 class="text-center">Result:</h4>
                        <div style="font-size: 140px;" layout="row"
                             layout-align="center center">
                            <span>{{vm.result || 0}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h4>Your History</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Age</th>
                                <th>Serum creatinine:</th>
                                <th>Gender</th>
                                <th>African American?</th>
                                <th>Result</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in vm.data track by $index">
                                <td>{{item.Age}}</td>
                                <td>{{item.SerumCreatinine}}</td>
                                <td>{{item.Gender}}</td>
                                <td>{{item.African}}</td>
                                <td>{{item.GFRValue}}</td>
                                <td>{{item.RecordDate | date: "MMMM dd, yyyy 'at' HH:mm a"}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>