<div class="col-xs-12">
            <div class="panel" id="exercise">
                <div class="panel-heading">
                    <h3 class="text-center">Exercise Recommendations</h3>
                </div>
                <div class="panel-body text-center">
                    <p>Based on your current activity (from the excel sheet)</p>

                    <p>If the user’s stage is Stage 1, stage 2, or stage 3:</p>

                    <p>Write "Exercise 30 minutes or more on most if not all days of the week"</p>

                    <p>If the user’s stage is Stage 4 or stage 5 then:</p>

                    <p>Write "20 minutes per session on 3 or more days of the week"</p>

                </div>
            </div>
</div>