
 <div class="col-xs-12">
            <div class="panel" id="food">
                <div class="panel-heading">
                    <h3 class="text-center">Food Recommendations</h3>
                </div>
                <div class= "panel-body text-center">
                    <p><b>Stage 1-4 Chronic Kidney Disease</b></p>
                    <br>
                    <h4>Variety of grains</h4>
                    <h5>Whole grains, whole grain bread, and high-fiber cereal</h5>
                    <br>
                    <h4>Limit high-fat dairy - milk, yogurt, frozen desserts, cream cheese, and sour cream</h4>
                    <br>
                    <h4>Eat less red meat - instead, have more lean poultry and seafood</h4>
                    <br>
                    <h4>Track how much of certain nutrients you take in such as: calories, protein, fat, carbohydrates</h4>
                    <br>
                    <h4>More fiber from fresh fruits and vegetables - without cheese, sauces, or fried preparation</h4>
                    <br>
                    <h4>A diet low in saturated fat and cholestrol and moderate in total fats</h4>
                    <br>
                    <h4>Limit intake of refined and processed foods high in sugar, sodium, and hidden phosphorus</h4>
                    <br>
                    <h4>Reduce sodium intake - recommendation - 1,500 to 2,300 mg/day</h4>
                    <br>
                    <h4>Limit alcohol consumption and quit smoking</h4>
                    <br>
                    <h4>Keep a healthy weight by adjusting calorie intake</h4>
                    <br>
                    <h4>Keep protein within a health level</h4>
                    <h5>Choose grilled or baked protein instead of fried</h5>
                    <br>
                    <h4>Consume adequate calories</h4>
                    <br>
                    <h4>Blood Pressure</h4>
                    <h5>125/75 for those with diabetes</h5>
                    <h5>130/85 for those with non-diabetes and non-proteinuria</h5>
                    <h5>125/75 for those with non-diabetes with proteinuria</h5>
                    <br>
                    <br>
                    <p><b>Stage 5 Chronic Kidney Disease</b>
                    </p><br>
                    <h4>Protein</h4>
                    <h5>Red meats (beef,veal,lamb)</h5>
                    <h5>Pork, Poultry, Fish and other seafood, Eggs, Vegetables and grains</h5>
                    <br>
                    <h4>Calories</h4>
                    <h5>If you are not getting enough calories from your diet, you may need to eat extra sweets like sugar, jam, jelly, hard candy, honey and syrup, unless you also have diabetes</h5>
                    <h5>Soft (tub) margarine and oils like canola or olive oil</h5>
                    <br>
                    <h4>Vitamins or minerals</h4>
                    <br>
                    <h4>Glucose</h4>
                </div>
            </div>
        </div>
