<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <!--<div class="panel-heading">-->
                <!--<h3>Home</h3>-->
                <!--</div>-->
                <div class="panel-body">
                    <div class="row">
                        <h1 class="text-center">Welcome to MyKidneyCare!</h1>
                        <br>
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group">
                                <br>
                                <h4>Accurately Track your GFR</h4>
                                <br>
                                <h4>Eat a Proper Kidney Diet</h4>
                                <br>
                                <h4>Follow a Structured Exercise Plan</h4>
                                <br>
                                <h4>Login to:</h4>
                                <h4>Keep track of your GFR</h4>
                                <h4>Access personalized meals
                                    <h4>
                                        <h4>Obtain specific exercise recommendations</h4>
                                        <br>
                                        <h4>Endless Information for all your Kidney Needs!</h4>
                                        <br>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <img src="assets/images/homepage-hero.jpg"
                                 style="width: 100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="text-center">Stages of Chronic Kidney Disease</h3>
                    <br>
                    <div class="text-center">
                        <img src="assets/images/i1.png"
                             style="width: 80%" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
