<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header" layout="row">

            <a class="navbar-brand">
                Waste Management
                <small>(An Optimized Garbage Collection)</small>
            </a>

            <span flex></span>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <!--<li class="active">-->
                <!--<a href="" class="tql-min"><img src="assets/icons/dshboard-icon.png" alt=""><span>Dashboard</span></a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href=""><i class="fa fa-heart"></i><span>Bookmark</span></a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<small>(An Optimized Garbage Collection)</small>-->
                <!--</li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="notification custom-dropdown">
                    <a href="" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><i class="fa fa-bell"></i><span class="badge"
                                                                             ng-if="$root.alertArray.length > 0">{{$root.alertArray.length}}</span>

                    </a>
                    <ul class="dropdown-menu custom-dropdown-menu ">
                        <li ng-if="!$root.alertArray.length"><a href="javascript:void(0)">No Alert!</a></li>
                        <li ng-repeat="alert in $root.alertArray"><a href="javascript:void(0)"><span class="badge">Priority {{alert.priority}}</span>
                            {{alert.alertText}}
                            <md-button class="md-icon-button close-icon"
                                       ng-click="vm.deleteNotification(alert, $event)">
                                <!--<i class="material-icons">clear</i>-->
                                <i class="fa fa-times"></i>
                            </md-button>
                        </a></li>
                    </ul>
                </li>
                <li class="avatar-group custom-dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle"
                       layout="row" layout-align="center center"
                       data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="avatar"></span>
                        <span>Hi, name</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="management.account">
                                Account <i class="fa fa-user pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ng-click="vm.logout($event)">
                                Log out <i class="fa fa-power-off pull-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <div class="side-bar">
        <ul class="list-unstyled">
            <li ng-class="{'active' : isState('/dashboard')}">
                <a href="#/dashboard">
                    <div class="icon"><i class="fa fa-dashboard"></i></div>
                    <span>Dashboard</span>
                </a>
            </li>
            <li ng-class="{'active' : isState('/trashbin')}">
                <a href="#/trashbin">
                    <div class="icon"><i class="fa fa-trash"></i></div>
                    <span>Trashbin</span>
                </a>
            </li>
            <li ng-class="{'active' : isState('/posts')}">
                <a href="#/posts">
                    <div class="icon"><i class="fa fa-lightbulb-o"></i></div>
                    <span>Lamp Post</span>
                </a>
            </li>
            <li ng-class="{'active' : isState('/resident')}">
                <a href="#/resident">
                    <div class="icon"><i class="fa fa-users"></i></div>
                    <span>Residents/Vigilantes</span>
                </a>
            </li>

            <li ng-class="{'active' : isState('/performance')}">
                <a href="#/performance">
                    <div class="icon"><i class="fa fa-certificate"></i></div>
                    <span>Performance</span>
                </a>
            </li>


        </ul>
    </div>

</nav>