<div class="container">
    <div class="row" ng-if="!$root.currentUser">
        <div class="col-sm-3"></div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel">
                <!--<div class="panel-heading">-->
                <!--<h3>Home</h3>-->
                <!--</div>-->
                <div class="panel-body">
                    <h3>Login</h3>
                    <br>
                    <div class="form-group">
                        <label for="">Username:</label>
                        <input type="text" class="form-control"
                               ng-model="vm.username"
                               placeholder="Please enter your username">
                    </div>
                    <div class="form-group">
                        <label for="">Password:</label>
                        <input class="form-control"
                               ng-model="vm.password"
                               type="password"
                               placeholder="Please enter your password">
                    </div>
                    <div layout="row">
                        <div ng-if="vm.errorMessage">
                            <div class="alert alert-red alert-dismissible" style="padding-right: 50px;">
                                <md-button class="icon-close md-icon-button pull-right" style="margin-top: -3px;"
                                           ng-click="vm.errorMessage = null;">
                                    <i class="fa fa-times">
                                    </i>
                                </md-button>
                                <span>{{vm.errorMessage}}</span>
                            </div>
                        </div>
                        <span flex></span>
                        <div flex="nogrow">
                            <md-button class="btn md-raised" ng-click="vm.login()">Login</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="$root.currentUser">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel">
                    <div class="panel-heading" layout="row" layout-align="center center">
                        <h3>Account</h3>
                        <span flex></span>
                        <md-button ng-click="vm.logout()">log out</md-button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div layout="row" layout-xs="column" layout-sm="column">
                    <div class="panel" layout="row" layout-align="center center">
                        <div class="panel-body">
                            <div class="text-center">
                                <div class="big-avatar"></div>
                                <h4>{{$root.currentUser.username}}</h4>
                                <a href="#/gfr_calculator">
                                    <md-button class="btn md-raised btn-blue">CALCULATE MY GFR LEVELS</md-button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <div class="panel" flex>
                        <div class="panel-body text-center">
                            <img src="assets/images/ks-module-2a.jpg"
                                 style="width: 80%" alt="">
                            <h3>Recommendations</h3>
                            <hr>
                            <div>
                                <a href="#food" offset="70" ng-click="vm.foodCollapsed = false" du-smooth-scroll
                                   du-scrollspy>
                                    <md-button class="btn md-raised btn-blue large">Food Reccomendations</md-button>
                                </a>
                                <a href="#exercise" offset="70" ng-click="vm.exerciseCollapsed = false" du-smooth-scroll
                                   du-scrollspy>
                                    <md-button class="btn md-raised btn-blue large">Exercise Reccomendations</md-button>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row collapse-group" id="food" ng-init="vm.foodCollapsed = true;">
            <div class="col-xs-12">
                <div class="panel">
                    <div class="panel-heading" layout="row" layout-align="center center">
                        <h4>Food Recommendations</h4>
                        <span flex></span>
                        <a href="#food" offset="70" du-smooth-scroll du-scrollspy
                           ng-click="vm.foodCollapsed = !vm.foodCollapsed">
                            <md-button class="md-icon-button" aria-label="Collapse">
                                <md-icon>
                                    <i class="fa fa-lg {{vm.foodCollapsed?'fa-chevron-circle-down':'fa-chevron-circle-up'}}"></i>
                                </md-icon>
                            </md-button>
                        </a>
                    </div>
                    <div class="content" ng-class="{'in': !vm.foodCollapsed}">
                            <pre id="food-receipt-content">
                                                </pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="row collapse-group" id="exercise" ng-init="vm.exerciseCollapsed = true;">
            <div class="col-xs-12">
                <div class="panel">
                    <div class="panel-heading" layout="row" layout-align="center center">
                        <h4>Food Recommendations</h4>
                        <span flex></span>
                        <a href="#food" offset="70" du-smooth-scroll du-scrollspy
                           ng-click="vm.exerciseCollapsed = !vm.exerciseCollapsed">
                            <md-button class="md-icon-button" aria-label="Collapse">
                                <md-icon>
                                    <i class="fa fa-lg {{vm.exerciseCollapsed?'fa-chevron-circle-down':'fa-chevron-circle-up'}}"></i>
                                </md-icon>
                            </md-button>
                        </a>
                    </div>
                    <div class="content" ng-class="{'in': !vm.exerciseCollapsed}">
                            <pre id="exercise-content">
                                                </pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h4>Health data history</h4>
                    </div>
                    <div class="panel-body badge-list">
                        <span ng-repeat="item in vm.historyHealthData track by $index" class="badge">
                            {{item}}
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>