<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading" layout="row" layout-align="space-between center">
                <h3 class="text-center" flex>Resident Details</h3>
                <div flex="nogrow">
                    <md-button class="btn md-raised btn-blue" ng-click="vm.findAllResident()">Load</md-button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table ">
                                <thead>
                                <tr>
                                    <th>Resident ID</th>
                                    <th>Last Site</th>
                                    <th>Photos Taken</th>
                                    <th>Is Influencer</th>
                                    <th>Smartphone Id</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in vm.residents">
                                    <td>{{item.residentId}}</td>
                                    <td>{{item.lastSite}}</td>
                                    <td>{{item.photosTaken}}</td>
                                    <td>{{item.isInfluencer}}</td>
                                    <td>{{item.smartPhoneId}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>