
.block1 {
    color: #21ce99;
    width: 100px;
    height: 50px;
    position: relative;
    border: 2px solid #0e7156;
    margin-bottom: 10px;
}

.block2 {
    color: blue;
    width: 70px;
    border: 2px solid black;
    position: relative;
    top: 50px;
    left: 60px;
}

.textbox {
    margin: 20px;
}

.table-responsive{
    max-height: 500px;
}