<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Waste UI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!---->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css"/>
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/plugins/CodeMirror-master/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="assets/plugins/CodeMirror-master/theme/ambiance.css">


    <script type="text/javascript" src="assets/plugins/CodeMirror-master/lib/codemirror.js"></script>
    <script type="text/javascript" src="assets/plugins/CodeMirror-master/mode/javascript/javascript.js"></script>
    <script type="text/javascript" src="assets/plugins/CodeMirror-master/mode/htmlmixed/htmlmixed.js"></script>
    <script type="text/javascript" src="assets/plugins/CodeMirror-master/mode/xml/xml.js"></script>
    <script type="text/javascript" src="assets/plugins/formatting.js"></script>


    <link rel="stylesheet" href="styles/css/app.css">
    <link rel="stylesheet" href="styles/css/clock.css">

</head>

<body ng-app="sampleUIApp">

<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<nav-bar-top></nav-bar-top>

<div class="main-wrapper">
    <div class="container-fluid">
        <div layout-gt-xs="row" layout="column">
            <div class='block1' layout="row" layout-align="center center">
                <h4 id='clock' align="center"></h4>
            </div>
            <span flex></span>
            <div>
                <md-button ng-click="$root.start()" class="btn md-raised btn-green">Start</md-button>
                <md-button ng-click="$root.reset()" class="btn md-raised btn-green">Reset</md-button>
                <md-button ng-click="$root.pause()" class="btn md-raised btn-green">Pause</md-button>
                <md-button ng-click="$root.resume()" class="btn md-raised btn-green">Resume</md-button>
            </div>
        </div>
        <div class="container">
            <div ng-view=""></div>
        </div>
    </div>
</div>

<footer></footer>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery.stickyheader.js"></script>
<script type="text/javascript" src="assets/plugins/Chart.min.js"></script>
<script type="text/javascript" src="assets/plugins/xml2json.js"></script>
<script type="text/javascript" src="assets/plugins/underscore-min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="bower_components/angular-scroll/angular-scroll.min.js"></script>


<script type="text/javascript" src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>


<script src="js/config/config.js"></script>
<script src="js/app.js"></script>
<script src="js/services/query.service.js"></script>
<script src="js/routes/dashboard/dashboard.controller.js"></script>
<script src="js/routes/resident/resident.controller.js"></script>
<script src="js/routes/performance/performance.controller.js"></script>
<script src="js/routes/posts/posts.controller.js"></script>
<script src="js/routes/trashbin/trashbin.controller.js"></script>

<script src="js/directives/navbar/navbar.js"></script>
<script src="js/directives/footer/footer.js"></script>

</body>
</html>