/*demo*/
#affix {
  &.affix {
    right: 15px;
  }
}

.bs-example-tooltip {
  .tooltip {
    position: relative;
    display: inline-block;
    margin: 10px 20px;
    opacity: 1;
  }
}

.demo-list {
  li {
    a {
      color: $cl_h;
      &.active {
        color: $cl_blue;
      }
    }
  }
}

.demo-section-list {
  > div {
    &:last-child {
      min-height: calc(100vh - 90px);
      > .panel {

      }
    }
  }
}


.CodeMirror {
  padding: 10px;
}