/*v 0.1*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic);

@mixin transition($style) {
  transition: $style;
  -webkit-transition: $style; /** Chrome & Safari **/
  -moz-transition: $style; /** Firefox **/
  -o-transition: $style; /** Opera **/
}

* {
  font-family: 'Roboto', sans-serif;
}

/*variables*/
$cl_blue: #119ed9;
$cl_white: #f3f4f4;
$cl_red: #ee2c2c;
$cl_side_bar: #9b9c9c;
$cl_bg: #fff;
$cl_top_bar: #e8eae9;
$cl_input: #fff;
$cl_input_text: #000;
$cl_input_text_placeholder: #9b9c9c;
$cl_input_text_error: #ef2a2b;
$cl_icon: #A3B9CB;
$cl_panel: #e8eae9;
$cl_panel_heading: #292f38;
$cl_h: #292f38;
$cl_alert_blue: #079fdc;
$cl_alert_green: #dc9d07;
$cl_alert_red: #dc2a07;
$cl_table_1: #fff;
$cl_table_2: #dcdddd;
$cl_table_3: #6795a8;
$cl_table_4: #3D596C;

html {
  background-color: $cl_bg;
}

body {
  background-color: $cl_bg;
  position: relative;
}

p, span {
  color: $cl_input_text;
}

.main-wrapper {
  width: 100%;
  padding: 70px 0 20px 0px;
  background-color: $cl_bg;
}

.panel {
  border-radius: 0;
  border: none;
  background-color: $cl_panel;
  color: $cl_h;

  .panel-footer {
    background-color: transparent;
    border: none;
  }
  //&.panel-tql {
  //  background-color: $cl_side_bar;
  //  .panel-heading {
  //    font-size: 16px;
  //    background-color: $cl_panel_heading;
  //    border-radius: 0;
  //  }
  //}
}

/*navbar*/
.navbar {
  background-color: $cl_top_bar;
  border: none;
  .navbar-brand {
    color: $cl_blue;
    padding: 15px 30px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .navbar-nav {
    .dropdown {
      .avatar {
        width: 30px;
        height: 30px;
        background-color: $cl_white;
        display: inline-block;
        vertical-align: middle;
        border-radius: 100%;
        position: absolute;
        left: 10px;
        top: 10px;
      }
      > a {
        padding-left: 50px;
      }
      &.open {
        > a {
          background-color: transparent !important;
        }
      }
      .dropdown-menu {
        background-color: $cl_blue;
        padding: 10px 0;
        min-width: 200px;
        border-radius: 6px;
        top: 60px;
        .tooltip-arrow {
          border-bottom-color: #079fdc;
          top: -9px;
          border-width: 0 10px 10px;
          margin-left: -10px;
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          left: 50%;
        }
        li {
          a {
            padding: 5px 30px;
            color: white !important;
            font-size: 1.4em;
            &:hover {
              background-color: transparent;
              color: $cl_top_bar !important;
            }
            > * {
              margin-right: 10px;
              vertical-align: middle;
            }

          }
        }
      }
    }
    > li {
      img {
        height: 20px;
      }
      &.open {
        > a, a:focus {
          background-color: $cl_side_bar;
        }
      }
      > a {
        color: $cl_icon !important;
        @include transition(all 0.3s linear);
        > span {
          @include transition(max-width 0.3s linear);
          margin-left: 5px;
          overflow: hidden;
          display: inline-block;
        }
        &.tql-min {
          > span {
            max-width: 0;
          }
          &:hover {
            span {
              max-width: 100%;
            }
          }
        }

        * {
          vertical-align: middle;
        }
        &:hover {
          background-color: $cl_side_bar !important;
          color: $cl_icon;
        }
        &:focus {
          color: $cl_icon;
        }
      }
      &.active {
        a {
          background-color: $cl_input;
          &:focus {
            color: $cl_icon;
            background-color: $cl_input;
          }
        }
      }
    }
    .notification {
      > a {
        font-size: 1.4em;
        padding: 15px;
        color: $cl_input_text !important;

        .badge {
          position: absolute;
          border-radius: 3px;
          font-size: 0.5em;
          padding: 3px;
          left: 25px;
          top: 10px;
          font-weight: 400;
          background-color: $cl_input_text_error;
        }
        &:before {
          content: '';
          opacity: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 7px solid $cl_bg;
          position: absolute;
          bottom: 4px;
          right: 50%;
          z-index: 1000;
        }
      }
      &.open {
        > a:before {
          opacity: 1;
        }
      }
      .dropdown-menu {
        background-color: $cl_bg;
        border-radius: 0;
        margin-top: -5px;
        padding: 0;
        width: 400px;
        max-height: 300px;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
        > li {
          font-size: 8px;
          border-bottom: 1px solid rgba($cl_input_text, 0.3);
          &:last-child {
            border-bottom: none;
          }
          a {
            font-size: 1.4em;
            padding: 15px;
            color: $cl_input_text;
            white-space: normal;
            &:hover, &:focus {
              background-color: $cl_side_bar !important;
            }
          }
        }

      }
    }
  }

  .side-bar {
    background-color: $cl_side_bar;
    position: absolute;
    height: calc(100vh - 50px);
    left: 0;
    top: 50px;
    max-width: 70px;
    overflow: hidden;
    @include transition(all 0.3s ease-in-out);
    &:hover {
      max-width: 1000px;
      .invisible {
        visibility: visible;
      }
    }
    > ul {
      white-space: nowrap;
      > li {
        &.active {
          > a {
            background-color: $cl_bg;
          }
        }
        a {
          display: block;
          padding: 10px 20px;
          font-size: 20px;
          color: $cl_icon;
          text-align: left;
          &:focus {
            text-decoration: none;
          }
          &:hover {
            text-decoration: none;
            background-color: $cl_bg;
          }
          > * {
            vertical-align: middle;
          }
          .icon {
            display: inline-block;
            text-align: center;
            width: 30px;
            text-align: center;
          }
          img {
            width: 30px;
            height: 30px;
          }
          span {
            padding: 0 50px 0 15px;
            color: $cl_icon;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

/*button*/

.btn:not(.md-button) {
  background-color: $cl_white;
  padding: 6px 38px;
  font-size: 14px;
  color: black;
  &.large {
    font-size: 18px;
    padding: 13px 56px;
  }
  &.btn-blue {
    background-color: $cl_blue;
    color: $cl_white;
  }
  &.btn-red {
    background-color: $cl_red;
    color: $cl_white;
  }
}

.md-button.btn {
  background-color: $cl_white;
  border-radius: 4px;
  span {
    color: black;
  }
  &:not([disabled]):hover {
    background-color: darken($cl_white, 10%);
  }
  &.btn-blue {
    background-color: $cl_blue;
    &:not([disabled]):hover {
      background-color: darken($cl_blue, 10%);
    }
    span {
      color: $cl_white;
    }
  }
  &.btn-red {
    background-color: $cl_red;
    &:not([disabled]):hover {
      background-color: darken($cl_red, 10%);
    }
    span {
      color: $cl_white;
    }
  }

  span {
    text-transform: initial;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 36px;
    border-radius: 4px;
  }

  &.large {
    border-radius: 4px;
    span {
      text-transform: initial;
      font-size: 18px;
      font-weight: normal;
      padding: 0 50px;
      border-radius: 6px;
      line-height: 52px;
    }

  }

}

/*heading*/
h {
  &1 {
    color: $cl_h;
    font-size: 28pt;
  }
  &2 {
    color: $cl_h;
    font-size: 20pt;
  }
  &3 {
    color: $cl_h;
  }
  &4 {
    color: $cl_h;
  }
  &5 {
    color: $cl_h;
  }
  &6 {
    color: $cl_h;
  }
}

/*label*/
label {
  color: $cl_h;
}

/*form*/
.form-group {
  label {
    font-size: 12px;
  }
  input {
    font-size: 12px;
    background-color: $cl_input;
    color: $cl_input_text;
    padding: 20px 25px;
    border: none;
    border-radius: 0;
    &::-webkit-input-placeholder {
      color: $cl_input_text_placeholder;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      color: $cl_input_text_placeholder;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: $cl_input_text_placeholder;
    }

    &:-ms-input-placeholder {
      color: $cl_input_text_placeholder;
    }

    &.error {
      color: $cl_input_text_error;
      border: 1px solid $cl_input_text_error;
    }

    &.disabled, &[disabled] {
      background-color: lighten($cl_input, 5%);
    }
    &.readonly, &[readonly] {
      background-color: $cl_input;
    }
  }
  textarea {
    font-size: 12px;
    background-color: $cl_input;
    color: $cl_input_text;
    padding: 20px 25px;
    border: none;
    border-radius: 0;

    &::-webkit-input-placeholder {
      color: $cl_input_text_placeholder;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      color: $cl_input_text_placeholder;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: $cl_input_text_placeholder;
    }

    &:-ms-input-placeholder {
      color: $cl_input_text_placeholder;
    }
  }
}

/*bread-crumbs*/
.bread-crumbs {
  color: $cl_h;
  font-size: 12px;
}

/*alert*/
.alert {
  padding: 10px 40px 10px 15px;
  font-size: 16px;
  font-weight: 300;
  position: relative;

  span {
    color: white;
  }
  img {
    height: 30px;
    margin-right: 10px;
  }
  .icon-close {
    position: absolute;
    top: 9px;
    right: 0px;
    width: 30px;
    height: 30px;
    padding: 0;
    min-height: 30px;
  }
  &.alert-blue {
    background-color: $cl_alert_blue;
    .icon-close {
      background-color: rgba(0, 0, 0, 0.1);
      color: white;
    }
  }
  &.alert-green {
    background-color: $cl_alert_green;
    .icon-close {
      background-color: rgba(0, 0, 0, 0.1);
      color: white;
    }
  }
  &.alert-red {
    background-color: $cl_alert_red;
    .icon-close {
      background-color: rgba(0, 0, 0, 0.1);
      color: white;
    }
  }
}

/*icons*/
.icon- {
  &hand {
    background: url(../../assets/icons/hand-icon.png);
  }
}

/*table*/
table.table {
  > thead {
    background-color: $cl_table_2;
    > tr {
      > th {
        font-size: 12px;
        color: $cl_input_text;
        border-width: 0 !important;
        padding: 15px;
      }
    }
  }

  > tbody {
    > tr {
      > td {
        font-size: 12px;
        color: $cl_input_text;
        border-top-width: 0;
        border-right: 1px $cl_table_3 solid;
        padding: 15px;
        &:last-child {
          border-right-width: 0;
        }
      }
      &:nth-child(even) {
        > td {
          background-color: $cl_table_2;
        }
      }
      &:nth-child(odd) {
        > td {
          background-color: $cl_table_1;
        }
      }
    }
  }
}

/*pagination*/
.pagination-group {
  margin: auto;
  > li {
    padding: 0;
    a {
      color: $cl_input_text;
      font-size: 12px;
      padding: 6px 3px;
      background-color: $cl_table_2;
      border: 1px solid $cl_table_4;
      min-width: 30px;
      min-height: 30px;
      display: inline-block;
      border-radius: 4px;
      &:hover {
        text-decoration: none;
        color: $cl_table_4;
      }
    }

  }
}

/*radio button*/
md-radio-button {
  ._md-on {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    background-color: $cl_input;
  }
  &.md-checked {
    ._md-on {
      background-color: $cl_blue;
    }
    ._md-off {
      border-color: $cl_blue;
    }
  }
}

/*checkbox*/
md-checkbox {
  ._md-icon {
    background-color: transparent !important;
    &:after {
      border-color: $cl_red !important;
      left: 5.66667px !important;
      top: 2.22222px !important;
      width: 5.66667px !important;
      height: 10.33333px !important;
    }
  }
  &.md-checked {
    ._md-icon {
      border: 2px solid rgba(0, 0, 0, 0.54);
    }
  }
}

/*tooltip*/
.tooltip {
  font-size: 16px;
  .tooltip-inner {
    padding: 15px 20px;
    background-color: $cl_alert_blue;
  }
  &.top {
    .tooltip-arrow {
      border-top-color: $cl_alert_blue;
      bottom: -5px;
      border-width: 10px 10px 0;
      margin-left: -10px;
    }
  }
  &.bottom {
    .tooltip-arrow {
      border-bottom-color: $cl_alert_blue;
      top: -5px;
      border-width: 0 10px 10px;
      margin-left: -10px;
    }
  }
  &.left {
    .tooltip-arrow {
      border-left-color: $cl_alert_blue;
      right: -5px;
      border-width: 10px 0 10px 10px;
      margin-top: -10px;
    }
  }
  &.right {
    .tooltip-arrow {
      border-right-color: $cl_alert_blue;
      left: -5px;
      border-width: 10px 10px 10px 0;
      margin-top: -10px;
    }
  }
}

/*footer*/

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  background-color: $cl_side_bar;
  padding: 5px 10px 2px 10px;
  font-size: 12px;
}
