<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <!--<div class="panel-heading">-->
                <!--<h3>Home</h3>-->
                <!--</div>-->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12"><h1 style="text-align:center">What is GFR and how is it checked?</h1>

                            <p>The Glomerular Filtration Rate is a test used to check how well the kidneys are working.
                                Specifically, it estimates how much blood passess through the glomeruli each minute.
                                Having a simple blood test for creatinine levels is the first step in checking your GFR.
                                Creatinine is a waste product make by your body’s muscles. Both the level of creatinine
                                and your age, race, and gender are used to estimate the GFR level.

                            </p>
                            <div class="text-center">
                                <img src="assets/images/table1.png"
                                     alt=""></div>
                            <br>
                            <p>
                                Your GFR number tells your doctor how much kidney function you have. As chronic kidney
                                disease progresses, your GFR number decreases.
                                The treatments for end-stage kidney disease are either dialysis, which is artificially
                                removing waste products and extra fluid from your blood when your kidneys can’t
                                function, or kidney transplants, which means surgically placing a healthy kidney from a
                                donor into your body.

                            </p>
                        </div>

                        <div class="col-xs-12">
                            <h1 style="text-align:center">Mathematical Equation for GFR</h1>
                            <div class="text-center"><img src="assets/images/formula1.png"
                                                          alt=""></div>
                            <br>
                            <p>
                                An estimated GFR (eGFR) calculated from the serum creatinine using an isotope dilution
                                mass spectrometry or the IDMS traceable equation is a simple and effective way to detect
                                CKD among those with the risk factors of diabetes, hypertension, cardiovascular disease,
                                or a family history of kidney disease.
                                In simplified terms, Isotope dilution analysis is a method of determining the quantity
                                of chemical substances. The method comprises the addition of known amounts of
                                isotopically-enriched substance to the analyzed sample.

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>