<nav class="navbar navbar-default navbar-fixed-top md-whiteframe-2dp">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="goTo('/home')" layout="row" layout-align="start center">
                Health CEO
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-left ">
                <md-menu-bar>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()" layout="row" layout-align="center start">
                            <span layout="column" layout-align="center start" flex><span>HEALTH</span> <span>A-Z</span></span>
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <md-menu-content layout="row">
                            <div flex-gt-sm="50" flex>
                                <md-content>
                                    <md-list flex>
                                        <md-subheader class="md-no-sticky">Sub Title 1</md-subheader>
                                        <md-list-item ng-click="null">
                                            <p>sdsfd</p>
                                        </md-list-item>
                                        <md-list-item ng-click="null">
                                            <p>sdsfd</p>
                                        </md-list-item>
                                        <md-list-item ng-click="null">
                                            <p>sdsfd</p>
                                        </md-list-item>
                                        <md-divider></md-divider>
                                        <md-subheader class="md-no-sticky">Sub Title 2</md-subheader>
                                        <md-list-item ng-click="null">
                                            <p>sdsfd</p>
                                        </md-list-item>
                                        <md-list-item ng-click="null">
                                            <p>sdsfd</p>
                                        </md-list-item>
                                        <md-list-item ng-click="null">
                                            <p>sdsfd</p>
                                        </md-list-item>
                                    </md-list>
                                </md-content>
                            </div>
                            <div flex-gt-sm="50" flex>
                                <md-content>
                                    <md-list flex>
                                        <md-subheader class="md-no-sticky">Sub Title 1</md-subheader>
                                        <md-list-item ng-click="null">
                                            <p>sdsfd</p>
                                        </md-list-item>
                                        <md-list-item ng-click="null">
                                            <p>sdsfd</p>
                                        </md-list-item>
                                        <md-divider></md-divider>
                                        <md-subheader class="md-no-sticky">Sub Title 2</md-subheader>
                                        <md-list-item ng-click="null">
                                            <p>sdsfd</p>
                                        </md-list-item>
                                        <md-list-item ng-click="null">
                                            <p>sdsfd</p>
                                        </md-list-item>
                                        <md-list-item ng-click="null">
                                            <p>sdsfd</p>
                                        </md-list-item>
                                    </md-list>
                                </md-content>
                            </div>
                        </md-menu-content>
                    </md-menu>

                    <md-menu>
                        <button ng-click="$mdOpenMenu()" layout="row" layout-align="center start">
                            <span layout="column" layout-align="center start" flex><span>DRUGS &</span> <span>SUPPLEMENTS</span></span>
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                    <md-menu>
                        <button ng-click="$mdOpenMenu()" layout="row" layout-align="center start">
                            <span layout="column" layout-align="center start"
                                  flex><span>LIVING</span> <span>HEALTHY</span></span> <i
                                class="fa fa-chevron-down"></i>
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                    <md-menu>
                        <button ng-click="$mdOpenMenu()" layout="row" layout-align="center start">
                            <span layout="column" layout-align="center start"
                                  flex><span>FAMILY &</span> <span>PREGNANCY</span></span> <i
                                class="fa fa-chevron-down"></i>
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                    <md-menu>
                        <button ng-click="$mdOpenMenu()" layout="row" layout-align="center start">
                            <span layout="column" layout-align="center start"
                                  flex><span>NEWS &</span> <span>EXPERTS</span></span> <i
                                class="fa fa-chevron-down"></i>
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>