<div layout="row">
    <span flex="20"></span>
    <md-list flex="60" ng-cloak>
        <md-list-item ng-class="{'active' : isState('/home')}" ng-click="goTo('/home')">
            <p>Home</p>
        </md-list-item>
        <md-list-item ng-class="{'active' : isState('/about')}" ng-click="goTo('/about')">
            <p>About</p>
        </md-list-item>
        <md-list-item ng-class="{'active' : isState('/calculator')}" ng-click="goTo('/calculator')">
            <p> Calculator </p>
        </md-list-item>
    </md-list>
</div>