<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading" layout="row" layout-align="space-between center">
                <h3 class="text-center" flex>Instrument Trashbin , Street Post</h3>
                <!--<span flex></span>-->
                <!--<div>-->
                <!--<md-button class="btn md-raised btn-blue" ng-click="vm.findAllResident()">Load</md-button>-->
                <!--</div>-->
            </div>
            <div class="panel-body">
                <div class="">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="">Enter Bin ID :</label>
                                <input type="text" class="form-control" placeholder="Example:Bin[0]">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <br>
                            <md-button ng-click="vm.InstrumentTrashBin(document.getElementById('idTxt').value)"
                                       class="btn md-raised ">Instrument
                                Ibeacon by ID
                            </md-button>
                            <md-button ng-click="vm.InstrumentIbeaconTrashBinAll()"
                                       class="btn md-raised">Instrument All
                            </md-button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="">Enter Bin ID :</label>
                                <input type="text" class="form-control" placeholder="Example:Bin[0]">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <br>
                            <md-button ng-click="vm.InstrumentRfTrashBin(document.getElementById('idTxt1').value)"
                                       class="btn md-raised">Instrument
                                InstrumentRf Sensor by ID
                            </md-button>
                            <md-button ng-click="vm.InstrumentRfTrashBinAll()"
                                       class="btn md-raised">Instrument All
                            </md-button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="">Enter pole ID :</label>
                                <input type="text" class="form-control" placeholder="Example:Pole[0]">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <br>
                            <md-button ng-click="vm.InstrumentStreetPost(document.getElementById('idTxt2').value)"
                                       class="btn md-raised">Instrument Ibeacon on streetpost by ID
                            </md-button>
                            <md-button ng-click="vm.InstrumentStreetPostAll()"
                                       class="btn md-raised">Instrument All
                            </md-button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="">Enter pole ID :</label>
                                <input type="text" class="form-control" placeholder="Example:Pole[0]">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <br>
                            <md-button ng-click="vm.InstrumentOdorSensor(document.getElementById('idTxt3').value)"
                                       class="btn md-raised">Instrument odor Sensor by ID
                            </md-button>
                            <md-button ng-click="vm.InstrumentStreetPostAll()"
                                       class="btn md-raised">Instrument All
                            </md-button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="">Enter ResidentID:</label>
                                <input type="text" class="form-control" placeholder="Example:Resident[0]">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <br>
                            <md-button ng-click="vm.SetInfluencer(document.getElementById('idTxt4').value)"
                                       class="btn md-raised">Influence
                                Resident
                            </md-button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="">Enter Worker:</label>
                                        <input type="text" class="form-control" placeholder="Example:Worker[0]">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="">Enter DumpSite/TrashBin:</label>
                                        <input type="text" class="form-control" placeholder="Example:DumpSite[0]">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <br>
                            <md-button
                                    ng-click="vm.SetWorkerRoot(document.getElementById('idTxt5').value,document.getElementById('idTxt6').value)"
                                    class="btn md-raised">Set Worker Root
                            </md-button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="">Turn On/Off Campain :</label>
                                <md-button
                                        ng-click="vm.turnOnCampain()"
                                        class="btn md-raised">Turn on campain
                                </md-button>
                                <md-button
                                        ng-click="vm.turnOffCampain()"
                                        class="btn md-raised">Turn off campain
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>


                <div id="dd">
                </div>

            </div>
        </div>
    </div>
</div>